body {
    background-color: #DAF7F6;
    color: #3B3B3B;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/*--------Header-----*/

header {
    background-color: white;
    text-align: center;
}

 h1 {
    color: #F16059;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0;
}

header img {
    margin-right: 16px;
}

main {
    margin: 0 auto;
    width: 1000px;
}

/*------Cards------*/

.card {
    margin: 10px 0;
}

.image {
    float: left;
    width: 500px;
    height: 550px;
}

.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    box-sizing: border-box;
    background-color: white;
}


/*-----Images----*/
#cookies .image{
    background-image: url(../img/gluten-free-sugar-cookies.jpg);
    background-size: cover;
}

#pesto .image{
    background-image: url(../img/nut-free-pesto.jpg);
    background-size: cover;
}

#salad .image{
    background-image: url(../img/watermelon-salad.jpg);
    background-size: cover;
}


/*-------recipe card styling------*/

/*-----recipe title----*/

.recipe h2 {
    margin-top: 0;
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 29px;
}

/*-------time styling------*/

.time {
    margin-bottom: 20px;
    border: 1px solid #3B3B3B;
    overflow: auto;
}

.cook {
    border-right: 1px solid #3B3B3B;
    border-left: 1px solid #3B3B3B;
}
.prep {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: 6px;
}
.cook {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: 6px;
}

.total {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-left: 6px;
}

.time-details {
    display: inline-block;
    box-sizing: border-box;
}

.time img {
    margin-right: 3px;
    vertical-align: middle;
    width: 15px;
    height: auto;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}


/*-------style ingredients and directions columns------*/

.columns {
    overflow: auto;
}

.directions {
    float: left;
    width: 240px;
    margin-left: 10px;
}

.ingredients {
    float: left;
    width: 205px;
}

.recipe h3 {
    padding: 5px;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

ol {
    padding-left: 20px;
    line-height: 30px;
}

ul {
    padding-left: 20px;
    line-height: 30px;
    list-style-type: square;
}